<!doctype html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Arieff Aiffmann.</p> <p>It uses data from 
            <a href = "https://www.mapbox.com" >mapbox.com</a> and 
            <a href = "https://www.darksky.net">darksky.net</a></p>
        {{!-- class selector below --}}        
        <img class="potrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>

</html>